<% if(currentUser && currentUser.isDark) { %>
<footer class="footer bg-dark py-3 mt-5">
  <% } else { %>
  <footer class="footer bg-light py-3 mt-5">
    <% } %>
    <div class="container">
        <span class="footing-copy <%= currentUser && currentUser.isDark ? "text-light" : "text-dark" %>" 
        >
        </span>
        <span class="<%= currentUser && currentUser.isDark ? "text-light" : "text-dark" %>" style="float: right"
          >Have an idea or encountered difficulties?
          <a href="/suggestions">Check this out!</a>
    </div>
  </footer>
</footer>
<script>
  const span = document.querySelector(".footing-copy")
  let date = new Date();
  let year = date.getFullYear();
  span.innerText = `© Cirquee ${year}`
</script>
