<% if(currentUser && currentUser.isDark) { %>
<footer class="footer bg-dark py-3 mt-5">
  <% } else { %>
  <footer class="footer bg-light py-3 mt-5">
    <% } %>
    <div class="container">
      <% if(currentUser && currentUser.isDark) { %> 
      <span class="text-muted"
      <% } else { %>
        <span class="text-dark"
        <% } %>  
        >&copy; Community Rises 2022
        <span style="float: right"
          >Have an idea or encountered difficulties?
          <a href="/suggestions">Go Here!</a> or check the latest
          <a href="/logs">Updates</a></span
        ></span
      >
    </div>
  </footer>
</footer>
