<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Community Rises</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/" class="nav-link" aria-current="page">Home</a>
        <a href="/posts" class="nav-link">Posts</a>
        <a href="/posts/new" class="nav-link">Create Post</a>
        <a href="/users" class="nav-link">Members</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else { %>
          <span id="notif-ring"></span>
          <a href="/notifications"><svg style="color: rgba(255,255,255,.55);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
          </svg></a>
          <a class="nav-link text-success" href="/users/<%= currentUser._id %> "
          ><img style="width: 2rem; height: 2rem; border-radius: 50%;" src="<%= currentUser.avatar[0].url %> " alt="user profile">
          Signed in as <%= currentUser.username %></a>
        <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </li>
      </div>
    </div>
  </div>
</nav>
