<% layout('layouts/boilerplate') %>
<style>
  h1 {
    text-align: center;
  }

  .logs {
    margin: 20px 0;
    padding: 10px;
    border: #ccc 2px solid;
    width: 50%;
  }

  #be {
    color: red;
  }

  #responsive {
    color: rebeccapurple;
  }

  #cheese {
    color: #ffa600;
    text-shadow: 0 2px 0.25px #ffa600;
    /* border-bottom: 2px solid #ffa600; */
  }

  .bi-record-circle {
    transform: scale(2);
    float: right;
    color: red;
    margin-left: 20px;
  }

  .bi-camera-video {
    color: #111;
    transform: scale(2);
    float: right;
  }

  #finger {
    color: #eca665;
  }

  #hurts {
    color: #880808;
    font-weight: 700;
  }

  #sh1 {
    font-size: 20px;
  }

  #sh2 {
    font-size: 16px;
  }

  #sh3 {
    font-size: 10px;
  }

  #verse1 {
    color: red;
  }

  #verse2 {
    color: blue;
  }

  #verse3 {
    color: green;
  }
  #verse4 {
    color: yellow;
  }

  #knight {
    background-color: yellow;
    width: 50%;
    text-align: center;
    border-radius: 10%;
    padding: 10px;
  }

  .bat {
    background-color: #111;
    border-radius: 90%;
    color: #fff;
  }

  @media (max-width: 568px) {
    .logs {
      width: 100%;
    }

    #zuck {
      width: 100%;
    }
  }
</style>
<% if(currentUser && currentUser.isDark) { %>
<div class="content" style="color: #fff">
  <% } else { %>
  <div class="content">
    <% } %>
    <h1>Change Logs</h1>

    <section class="logs" id="log-21">
      <p>Community Rises v1.12.4 <small>* 31-7-2022</small></p>
      <ul>
        <li>
          Of course you've noticed that this page that you are looking on right
          now has changed its sorting
        </li>
        <li>
          Logs/Updates are now sorted in a descending order instead of an
          ascending one
        </li>
        <li>
          Not much of an important detail tbh but,
          <a href="users/626ff6053a7e9c001600320e">@Yousuf</a>'s profile photo
          on this page (check <a href="#log-7">Log 6</a>) was hard coded so if
          Yousuf changed his profile photo, it would not change here. Now, it
          does. Yay!
        </li>
      </ul>
    </section>

    <section class="logs" id="log-20">
      <p>Community Rises v1.12.3 <small>* 21-7-2022</small></p>
      <ul>
        <li>Updated the registeration method.</li>
        <li>
          when registering, after filling in all of your information and
          submitting you'll be prompted to type in a 6-digit code that will be
          shown to you on the same page. You are required to type in the correct
          code and press on "Verify" to register
        </li>
        <li>
          Keep In Mind that this only applies to registeration and not login
        </li>
        <li>
          When logging in, after filling in your credentials and submitting,
          you'll see the CR icon spinning as a sign for loading.
        </li>
        <li>
          Notifications are now accessible due on mobile phones (Reason: I
          forgot to put it before lol)
        </li>
        <li>Notifications' font is now bigger on small screens</li>
        <li>
          Username in notifications is now removed and replaced with the profile
          photo of the user you're following
        </li>
      </ul>
    </section>

    <section class="logs" id="log-19">
      <p>Community Rises v1.12.2 <small>* 16-7-2022</small></p>
      <ul>
        <li>Improved Dark mode and modernised it.</li>
        <li>Now you can delete notifications</li>
        <li>
          If you somehow opened a deleted post then you'll get redirected back
          to the posts page instead of an error
        </li>
        <li>The Home Page is now changed depending on your theme</li>
        <li>
          The Profile Icon in the navigation menu is now changed to be that of
          your shiny face🤩🤩
        </li>
      </ul>
    </section>

    <section class="logs" id="log-18">
      <p>Community Rises v1.12.1 <small>* 13-7-2022</small></p>
      <h3 id="knight"><span class="bat">🦇Dar"K"night🦇</span></h3>
      <ul>
        <li>Now you can toggle dark mode I/O from your edit page</li>
        <li>
          Navigation icons are highlighted depending on the page you're on
        </li>
        <li>
          Added a badge exclusive to
          <a
            href="https://vast-springs-89892.herokuapp.com/users/626ff6053a7e9c001600320e"
            >@Yousuf</a
          >
          for showing and providing the maximum support 💚
        </li>
      </ul>
    </section>

    <section class="logs" id="log-17">
      <p>Community Rises v1.11 <small>* 10-7-2022</small></p>
      <ul>
        <li>
          Profile colours weren't saved and used to switch to the default colour
          every time you edit
        </li>
        <li>Fixed scrolling to the bottom bug.</li>
        <li>
          Now you can access the "Suggestions" and "Updates" pages without
          breaking a sweat!😅
        </li>
        <li>
          Users in the <a href="/users">Members</a> page are now sorted
          ascendingly by first name
        </li>
      </ul>
    </section>

    <section class="logs" id="log-16">
      <p>Community Rises v1.10 <small>* 8-7-2022</small></p>
      <h2>💙🎉Eid Mubarak!🎉💜</h2>
      <h3>
        🎨Feeling <span id="verse1">Co</span><span id="verse2">lo</span
        ><span id="verse3">urf</span><span id="verse4">ul?</span>🎨
      </h3>
      <ul>
        <li>Tired of the same profile colour? Now you don't need to worry!</li>
        <li>
          Users can now change their profile colour from the 6 chosen templates
        </li>
      </ul>
    </section>

    <section class="logs" id="log-15">
      <p>Community Rises v1.9 <small>* 28-6-2022</small></p>
      <ul>
        <li>Removed top navbar on mobile devices</li>
        <li>Added bottom navbar on mobile devices</li>
        <li>Icons are used on mobile devices instead of text</li>
        <li>Added Login redirection link on Register page and vice versa</li>
      </ul>
    </section>

    <section class="logs" id="log-14">
      <p>Community Rises v1.8 <small>* 25-6-2022</small></p>
      <h3>
        😭Oh, so your <span id="finger">finger</span>
        <span id="hurts">hurts</span>?😭
      </h3>
      <ul>
        <li>Posts are now sorted by latest creation date</li>
      </ul>
    </section>

    <section class="logs" id="log-13">
      <p>Community Rises v1.7 <small>* 24-6-2022</small></p>
      <h3>
        🤫Shhh.. <span id="sh1">Don't</span> <span id="sh2">tell</span>
        <span id="sh3">anyone</span>🤫
      </h3>
      <ul>
        <li>Added a new Security Policy</li>
        <li>Posts aren't visible unless you are logged in</li>
        <li>You could toggle the visibility of your email address</li>
        <li>No one, not even CR could see your email</li>
        <img
          id="zuck"
          src="https://res.cloudinary.com/dgzorrtut/image/upload/v1656061372/Community%20Rises/zuck_cropped_gqmr2o.jpg"
          alt="zuck"
        />
      </ul>
    </section>

    <section class="logs" id="log-12">
      <p>Community Rises v1.6 <small>* 1-6-2022</small></p>
      <ul>
        <li>Added Video Chat</li>
      </ul>
    </section>

    <section class="logs" id="log-11">
      <p>Community Rises v1.5 <small>* 22-5-2022</small></p>
      <ul>
        <li>Removed Video Chat 😔</li>
      </ul>
    </section>

    <section class="logs" id="log-10">
      <p>Community Rises v1.4 <small>* 20-5-2022</small></p>
      <h3>📷Say <span id="cheese">Cheese</span>!📷</h3>
      <ul>
        <li>Added Video Chat</li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-record-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-camera-video"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"
          />
        </svg>
      </ul>
    </section>

    <section class="logs" id="log-9">
      <p>Community Rises v1.3 <small>* 4-5-2022</small></p>
      <ul>
        <li style="display: inline">Added Suggestions Page</li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-pen"
          viewBox="0 0 16 16"
          style="color: #111"
        >
          <path
            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
          />
        </svg>
      </ul>
    </section>

    <section class="logs" id="log-8">
      <p>Community Rises v1.2 <small>* 20-4-2022</small></p>
      <ul>
        <li>Added video guide</li>
      </ul>
    </section>

    <section class="logs" id="log-7">
      <p>Community Rises v1.1 <small>* 12-4-2022</small></p>
      <ul>
        <li>Removed title</li>
        <li>Changed "description" to "body"</li>
        <li>Removed star ratings for mobile phones</li>
      </ul>
    </section>

    <!-- <section class="logs" id="log-6">
      <p>Community Rises v1.0 <small>* 1-4-2022</small></p>
      <ul>
        <li>
          <a href="users/626ff6053a7e9c001600320e">@Yousuf</a> was invited
          <small>- All credits</small>
          <img
          src="<%= user.avatar[0].url %>"
          alt="yoyo"
          width="100"
          height="100"
        />
        </li>
        
      </ul>
    </section> -->

    <section class="logs" id="log-5">
      <p>Community Rises v0.5Beta <small>* 20-3-2022</small></p>
      <ul>
        <li>3 participants beta tested</li>
        CREDITS:
        <a href="#">@Sama Mobarez</a>
        <a href="#">@Mozo</a>
        <a href="#">@Mohamad</a>
      </ul>
    </section>

    <section class="logs" id="log-4">
      <p>Community Rises v0.4Beta <small>* 16-3-2022</small></p>
      <h3>
        ✨<span id="be">Be</span> <span id="responsive">Responsive</span>✨
      </h3>
      <ul>
        <li>Added Reponsiveness</li>
      </ul>
    </section>

    <section class="logs" id="log-3">
      <p>Community Rises v0.3Beta <small>* 30-7-2021</small></p>
      <ul>
        <li>Added post creation date</li>
        <li>Added user profile photo</li>
      </ul>
    </section>

    <section class="logs" id="log-2">
      <p>Community Rises v0.2Beta <small>* 23-7-2021</small></p>
      <ul>
        <li>Removed Maps</li>
        <li>Removed location attribute</li>
      </ul>
    </section>

    <section class="logs" id="log-1">
      <p>Community Rises v0.1Beta <small>* 15-5-2021</small></p>
      <ul>
        <li>Welcome To Community Rises!</li>
      </ul>
    </section>
  </div>
</div>
