<% layout('layouts/boilerplate') %>

<h1>Your Lovely Notifications</h1>

<ul>
  <% allNotifications.forEach(function(notification) { %>
  <li>
    <a id="notif-link" href="/posts/<%= notification.postId %>">
      <%= notification.username %> created a new post! Check it out!
      <small id="notif-time" class="text-muted"
        ><%= moment(notification.createdAt).fromNow() %>
      </small>
    </a>
  </li>
  <% }); %>
</ul>
