body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG5hdHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  transition: 0.4s ease-in;
}

.btn-secondary:active {
  transform: scale(0.98);
}

.modal-container{
  display: none;
}

@media (max-width: 568px) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 2em;
    white-space: nowrap;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 100px;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    color: #111;
  }

  .vid-cool{
    width:100%;
    height:300px;
  }

  .modal-container h1 {
    font-size: 14px;
  }

  .modal-container .welcoming-text {
    font-size: 12px;
  }


  #resp-no{
    display: none;
  }

  .video {
    text-decoration: none;
    background-color: rgb(50, 255, 50);
    padding: 10px;
    border-radius: 20px;
  }
}
