.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.radios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.colour1 {
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.colour2 {
  background: linear-gradient(to right, #ff4e50, #f9d423);
}

.colour3 {
  background: linear-gradient(to right, #fbd3e9, #bb377d);
}

.colour4 {
  background: linear-gradient(to right, #606c88, #3f4c6b);
}

.colour5 {
  background: linear-gradient(to right, #b993d6, #8ca6db);
}

.colour6 {
  background: linear-gradient(to right, #870000, #190a05);
}

.colour7 {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
}


.colours {
  text-align: center;
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  border-radius: 2px;
  transform: scale(2);
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.colours:checked {
  transform: scale(1.5);
}

#colour1 {
  background: linear-gradient(to right, #ee5a6f, #f29263);
  border: 0.15em solid linear-gradient(to right, #ee5a6f, #f29263);
}

#colour2 {
  background: linear-gradient(to right, #ff4e50, #f9d423);
  border: 0.15em solid linear-gradient(to right, #ff4e50, #f9d423);
}

#colour3 {
  background: linear-gradient(to right, #fbd3e9, #bb377d);
  border: 0.15em solid linear-gradient(to right, #fbd3e9, #bb377d);
}

#colour4 {
  background: linear-gradient(to right, #606c88, #3f4c6b);
  border: 0.15em solid linear-gradient(to right, #606c88, #3f4c6b);
}

#colour5 {
  background: linear-gradient(to right, #b993d6, #8ca6db);
  border: 0.15em solid linear-gradient(to right, #b993d6, #8ca6db);
}

#colour6 {
  background: linear-gradient(to right, #870000, #190a05);
  border: 0.15em solid linear-gradient(to right, #870000, #190a05);
}

#colour7 {
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  border: 0.15em solid linear-gradient(to right, #870000, #190a05);
}

/* #colour7 {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  border: 0.15em solid linear-gradient(to right, #83a4d4, #b6fbff);
} */

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
  width: 5rem;
  height: 5rem;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

.centered-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#dark {
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: #fff;
  font-weight: bolder;
  border: 0;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 568px) {
  .centered-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

svg {
  color: #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon {
  display: block;
}

.shield {
  background-color: beige;
  color: cornflowerblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.yin-yang {
  background: linear-gradient(to right, #b993d6, #8ca6db);
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
