<% layout('layouts/boilerplate') %>
<div class="col-md-6 offset-md-3">
  <form
    class="validated-form"
    action="/users/<%= user._id %>?_method=PUT"
    method="POST"
    autocomplete="off"
    novalidate
  >
    <h1 class="text-center">Edit Your Profile</h1>
    <div class="mb-3">
      <label class="form-label" for="firstName">First Name</label>
      <input
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        value="<%= user.firstName %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="lastName">Last Name</label>
      <input
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
        value="<%= user.lastName %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        value="<%= user.email %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <!-- <div class="mb-3">
      <label class="form-label" for="bio">Bio</label>
      <textarea class="form-control" id="bio" name="email">
<%# user.biography %> </textarea
      >
      <div class="valid-feedback">Looks good!</div>
    </div> -->
    <% if(currentUser && currentUser.isAdmin) { %>
    <p class="text-muted">Already an admin!</p>
    <input name="adminCode" value="" type="text" style="display: none" />
    <% } else { %>
    <div class="mb-3">
      <label class="form-label" for="adminCode"
        >Wanna become an admin? Type the code
      </label>
      <input class="form-control" type="text" id="adminCode" name="adminCode" />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <% } %>
    <!-- <p style="color: red; display: none" id="notif">Invalid admin code</p> -->
    <button
      style="display: block; width: 100%; color: #fff"
      class="btn btn-warning"
      type="submit"
    >
      Edit
    </button>
  </form>
  <div></div>
</div>
