<% layout("layouts/boilerplate") %> <% layout("layouts/boilerplate") %>

<div class="body">
  <img src="https://res.cloudinary.com/dgzorrtut/image/upload/v1754573686/Cirquee_Enlarged_uxdnw0.png" alt="">
</div>

<div class="check-again">
  <div class="check-content">
    <h4>Verification Code Is Incorrect. Refreshing</h4>
    <img src="https://res.cloudinary.com/dgzorrtut/image/upload/v1753447719/cred-icon_mob1ic.png" alt="">
  </div>
</div>

<div class="code">
  <h4>Here is the code:</h4>
  <span id="code-number"></span>
  <input id="code-input" type="text" autocomplete="off">
  <button id="verify">Verify</button>
</div>

<div class="spacing"></div>

<div class="container d-flex justify-content-center align-items-center mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; font-weight: bolder;">Enter Your Info:</h5>
          <form
            autocomplete="off"
            action="/register"
            method="POST"
            class="validated-form"
            id="register-form"
            enctype="multipart/form-data"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                autofocus
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <!-- <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
              <textarea
                class="form-control"
                id="bio"
                name="biography">
              </textarea>
              <div class="valid-feedback">Looks good!</div>
            </div> -->
            <div class="mb-3">
              <span for="avatar" class="form-label"
                >Add Profile Photo <span class="text-muted">(optional)</span></label
              >
              <input
                class="form-control"
                type="file"
                id="avatar"
                name="avatar"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="adminCode" class="form-label">Admin Code <span class="text-muted">(Don't have it? JUST LEAVE IT!)</span></label>
              <input
                type="text"
                class="form-control"
                id="adminCode"
                name="adminCode"
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success block">Register</button>
          </form>
        </div>
      </div>
    </div>
    <p class="text-success bg-dark fw-bolder py-3 fs-5">Already have an account? <a href="/login" class="text-info">click here</a></p>
  </div>
</div>
